<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>firstwebproj</title>
</head>
<body>
<h1>welcome response is working in html</h1>

{{key1}}
<a href="{% url 'result' %}" >CLICK HERE FOR RESULT</a>
<br><br>

<form action="{% url 'result' %}">
<br><br>
    {% csrf_token %}

<!--    <input type="text" name="user_age">-->
<!--    <br><br>-->
<!--    <input type="text" name="user_name">-->
<!--    <br><br>-->

    <textarea  cols="40" rows="10" name="article"> </textarea>
    <br><br>
    <input type="submit" value="Submit">

</form>
</body>
</html>